<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TCG Tracker{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'core/css/theme.css' %}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
  <div class="container-fluid">
    <a class="navbar-brand text-beige" href="{% url 'home' %}">TCG Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link small" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link small" href="{% url 'portfolios' %}">Portfolios</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link small" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>